/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
  ========================================
  BODY
  ========================================
*/
body {
    font-family: 'Valera Round' cursive; 
}


/*
  ========================================
  HEADER;

  ========================================
*/

.logo {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    font-weight: 600;
    padding: 10px 0px 10px 30px; 
    float: left;
}

.header {
    background-image: url(../images/largelanding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.nav-bar {

    font-family: 'Varela Round';
    text-align: right;
    padding: 20px 30px 10px 0px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #f2f2f2;
}

.mid-header {
    color: #d9d9d9;
    font-size: 70px;
    margin: 80px 30px;
}

.mid-header h2{
    font-family: 'Montserrat';
}

.mid-header h3 {
    font-family: 'Permanent Marker', cursive;
}


/*
  ========================================
  HISTORY
  ========================================
*/

.history {
    background-color: #e6e6e6; 
    padding: 20px 0px 30px 30px
}

.history h1 {
    font-family: 'Varela Round', cursive;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}


.history1 h2{
    font-family: 'Varela Round';
    font-size: 20px;
    font-weight: 600;
}

.history1 p {
    font-family: 'Varela Round';
    font-size: 15px;
}

.history2 .transparent1 {
    padding-top: 80px;
    padding-left: 250px;
}


/*
  ========================================
  GRID OF TWO
  ========================================
*/


.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 49.2%;
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
	.area_1_of_2 {
		width: 100%; 
	}
}


/*
  ========================================
  STREET WEAR SECTION
  ========================================
*/
.wear h1 {
    font-family: 'Varela Round', cursive;
    font-size: 40px;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.shoe-wear {
    background-image: url(../images/shoe.jpg);
    background-size: cover;
    height: 650px;
}

.shoe-wear h2 {
    color: #fff;
    background-color: rgba(89,89,89, 0.8);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    margin: 200px 100px;
    padding: 100px 50px;
}

.clothing {
    background-image: url(../images/clothing.jpg);
    background-size: cover;
    height: 650px;
}

.clothing h2 {
    color: #fff;
    background-color: rgba(89,89,89, 0.8);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    margin: 200px 100px;
    padding: 100px 0px;
}


.boards {
    background-image: url(../images/boards.jpg);
    background-size: cover;
    height: 650px;
}

.boards h2 {
    color: #fff;
    background-color: rgba(89,89,89, 0.8);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    margin: 200px 100px;
    padding: 100px 0px;
}


/*
  ========================================
  GRID OF THREE
  ========================================
*/

	
.area_3_of_3 {
	width: 100%; 
}

.area_2_of_3 {
	width: 66.13%; 
}

.area_1_of_3 {
	width: 32.26%; 
}


/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_3_of_3 {
		width: 100%; 
	}
	.area_2_of_3 {
		width: 100%; 
	}
	.area_1_of_3 {
		width: 100%;
	}
}

/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}


